body {
	/*font-family: "microsoft yahei";*/
	/*font: 13px/1.7 verdana,'\5b8b\4f53',arial,georgia,helvetica,sans-serif;*/
}
.m-footer {
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(white,#086AC8);
}
.m-footer a {
	font-size: 30px;
	margin-left: 30px;
	color: #666;
}
.m-footer a:hover {
	color: white;
}
.m-text-shadow {
	text-shadow: 2px 2px 2px #F6FBFE;
	color: #086AC8;
}
.m-go-into {
	position: relative;
	top: -30px;
}

.m-icon {
	color: red;
}
.m-color-change {
	color: #FF6600;
}
.m-icon-color {
	color: #EDCB41;
}
.m-hide-menu {
	margin-left: 1.5em;
}
.m-hide-menu li {
	display: flex;
	align-items: center;
}
.panel-heading span {
	cursor: pointer;
}
.m-blank {
	color: white;
}
.tabs li:not(:last-child) {
	margin: 0 10px;
}
.m-background {
	background: #eee;
}
.panel-block a {
	padding: 0 10px;
}
.panel-block {
	flex-wrap: wrap;
}
.m-css3-border a:nth-child(20)~a,
.m-css3-background a:nth-child(6)~a {
	color: orange;
}
.m-dropdown-menu {
	display: none;
    left: 47em;
 	top: 7px;
    min-width: 12rem;
    padding-top: 4px;
    position: absolute;
    z-index: 20;
}
.panel-block.control span {
	padding: 0 5px;
}
.m-border-bg {
	border: 1px solid #888;
	border-radius: 3px;
	background: #888;
	color: white;
}
.m-color-super {
	color: #FF6600;
}
.m-css3-super {
	border: 1px solid #FF6600;
	border-radius: 3px;
	background: #FF6600;
	color: white;
	vertical-align: super;
}
.box {
	width: 80%;
	height: 80px;
	margin: 0 auto;
}
.m-block {
	display: inline-block;
	height: 20px;
	position: relative;
	top: 4px;
	width: 50px;
}
.m-green {
	background: #90FF90;
}
.m-red {
	background: #FF9090;
}
.m-pink {
	background: #FFDDDD;
}
.m-space {
	margin-bottom: 10px;
}
.m-blue {
	background: #DDEEFF;
}
.m-green sup,.m-pink sup {
	border: 1px solid #FF6600;
	border-radius: 3px;
	background: #FF6600;
	color: white;
	/*vertical-align: super;*/
}
.m-hide-menu.control li.panel-block {
	border: 0;
	padding: 0;
}
.m-title {
	color: #FF6600;
	text-decoration: none;
}
.m-title:after {
	content: attr(title);
	border: 1px solid #FF6600;
	border-radius: 3px;
	background: #FF6600;
	color: white;
	font-size: 12px;
	position: relative;
	top: -6px;
}
.m-blockquote {
	border: 1px solid lightblue;
	background: #fff0f0;
}
.container .panel-heading a:first-child {
	position: absolute;
	left: 85%;
}
.container .panel-heading a:nth-child(2) {
	position: absolute;
	left: 50%;	
}

